@model IEnumerable<AnnonsService.ServiceData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceModificationsData.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceStatusData.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTypeData.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategoryData.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeNeeded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceModificationsData.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceStatusData.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTypeData.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryData.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeNeeded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
